.flexColumn {
    display: flex;
    flex-direction: column;
  }
  
  .flex {
    display: flex;
  }
  
  .flexRow {
    display: flex;
    flex-direction: row;
  }
  
  .relative {
    position: relative;
  }